@charset "UTF-8";
.kiwi-maru-regular {
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
}
.rampart-one-regular {
  font-family: "Rampart One", sans-serif;
  font-weight: 400;
  font-style: normal;
}  
.klee-one-semibold {
    font-family: "Klee One", cursive;
    font-weight: 600;
    font-style: normal;
}  
html{
    font-size: 100%;
}
body{
    background-color: #e3d5cf;
}
h1{
    text-align: center;
    background-color: #1d993e;
    color: #fbca4d;
    font-size: 3.5rem;
    font-family: "Rampart One",sans-serif;
}
h2{
    font-family: "Kiwi Maru",serif;
    font-size: 1.8rem;
    text-align: center;
}
.search_box{
    text-align: center;
}
.search_form{
    height: 3rem;
    border-radius: 5px;
    border: 0.5px solid #fbca4d;
    font-size: 16px;
}
.search_form:focus{
    border: 2px solid #f74f4f;
    box-shadow: 0 0 5px 1px #f74f4f;
    z-index: 10;
    outline: 0;
}
.search_button{
    text-align: center;
    vertical-align: center;
    margin: auto;
    height: 4rem;
    padding: 1em 1em;
    font-weight: bold;
    font-family: "Kiwi Maru",serif;
    border-radius: 100vh;
    background-color: #f5f5f5;
    color: #f74f4f;
    border:2px solid #f74f4f;
    transition: 0.5s;
    font-size: 1rem;
}
.search_button:hover{
    color:#f5f5f5 ;
    background-color: #f74f4f;
}
.search_text{
    text-align: left;
    font-size: 1.3rem;
    font-family: "Klee One",cursive;
    line-height: 2.0;
}
p{
    font-family: serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 1.3;
}
